@{
    ViewData["Title"] = "Hello!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Integrate JavaScript Logging with ASP.NET Core Logging APIs.</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>jsLogger</h2>
        <p>Try to click the following buttons and keep your eyes on the default logger provider.</p>
        <p><button class="btn" onclick="console.trace('This is a trace message.')">Log Trace</button> <button class="btn btn-default" onclick="console.debug('This is a debug message.')">Log Debug</button> <button class="btn btn-info" onclick="console.info('This is a information message.')">Log Information</button> <button class="btn btn-warning" onclick="console.warn('This is a warning message.')">Log Warning</button> <button class="btn btn-danger" onclick="console.error('This is a error message.')">Log Error</button></p>
        <p><button class="btn btn-danger" onclick="throw new Error('Unexpected Exception!!')">Throw Exception</button></p>
    </div>
</div>