@page
@model IndexPageViewModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Serilog в AspNetCore приложении на базе RazorPages с встроенной активацией по официальной рекомендации</h1>
</div>
